*,a{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}

h1{
    line-height: 2rem;
}

body{
    color: #323130;
    background-color: #fff;
}
.container{
    width: 100%;
    display: grid;
    grid-template-columns: 18% 82%;
}
.sidenav{
    width: 100%;
    background-color: #5fcc71;
    min-height: 100vh;
    margin: auto;
    margin-top: 0;
text-align: center;
padding: 20px;
color: #fcfefc;
}


.sidenav > img{
    margin-top: 1rem;
    
}

.sidenav > section> p{
    font-size: 0.7rem;
    margin-top: 0.3rem;

}
.sidenav>section>p >a{color: #fff;}
.social-links{
    width: 100%;
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.social-links> a>i{
    background-color: white;
    color:  #5fcc71;
    border-radius: 50%;
    padding-top: 0.5rem;
    height: 1.9rem;
    width: 100%;
    margin-right: 0.5rem;
  font-size: 0.9rem;
}

.social-links>a:visited{
   color: white;
}

.social-links>a{
    margin-right: 0.5rem;
    height: 1.6rem;
    width: 1.7rem;
 }
 

hr{
    color: #5ac36c;
    border: 1px solid #50c062;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
}

.side-links{
width: max-content;
margin: auto;
text-align: center;
}
.side-links> button{
    background-color: #2155298a;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 0.3rem;
    height: 2.5rem;
    padding: 0.7rem;
    margin-top: 1rem;
    cursor: pointer;
}
.side-links>ul{
list-style-type: none;
width: max-content;
}
.side-links>ul>li{
    width: max-content;
    color:rgba(255, 255, 255, 0.700);
    margin-bottom: 0.6rem;

}
.side-links>ul>li>a{
    text-decoration: none;
    font-weight: 900;
    margin-left: 0.9rem;
    font-size:0.9rem;
}
.side-links>ul>li>i{
    width: 0.1rem;
    font-size: 0.9rem;
}

.side-links>ul>li>a{
    color: rgba(255, 255, 255, 0.700);
    }

.side-links>ul>li>a:visited{
color: rgba(255, 255, 255, 0.700);
}

.main-content{
    width: 100%;
    color:black;
    margin-bottom: 1rem;
}

.page-intro{
    width: 100%;
    margin: auto;
    text-align: center;
    background: #fafafa;
    height: 12rem;
    padding-top: 2rem;

}
.page-intro > h1{
    margin-bottom: 0.5rem;
}
.page-intro > p{
    margin-bottom: 0.9rem;
}
.search > input{
    height: 2.4rem;
    border-radius: 0.2rem;
    border: #a8a7a5 solid 0.1rem;
    padding-left: 1rem;
width: 20rem;
}
.search > button{
    height: 2.4rem;
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem;
    background-color: #5fcc71;
    color: white;
    font-weight: bold;
    margin-left: 0.3rem;
}

.blog-post{
    margin-top: 2.5rem;
    margin-left: 7rem;
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 15% 80%;
}


.post{
    width: 90%;

}

.post-image > img {
    width: 100%;
}

.post>h5{
    color: #a7a7a7;
    font-weight: 50;
    font-size: small;
    margin-top: 0.2rem;

}
.post>p{
    margin-top: 0.2rem;
    font-size: small;
}
.post>a{
    text-decoration: none;
    color: #5fcc71;
    font-size: small;
    margin-top: 0.2rem;
}

.menu{
    width: 100%;
    background-color: #5fcc71;
    min-height: 4rem;
}
.menu>button{
   position: fixed;
   top: 4px;
   left: 3px;
    background-color: transparent;
    color: white;
    width: 3rem;
border: #fff solid 1px;
border-radius: 1px;
width: 3rem;
height: 2.5rem;
font-size: x-large;
outline: none !important;
box-shadow: none !important;
}

.menu-items{
    list-style-type: none;
    margin-top: 0.5rem;
    padding-bottom: 1rem;
    background-color: #5fcc71;
}
   .remove-menu{
        display: none;
   }
    .menu-items>li{ 
        margin: auto;
        padding-top: 0.2rem;
        text-align: center;
        width: 100%; 
        color:rgba(255, 255, 255, 0.700);

    }
    .menu-items>li>a{
        width: max-content;
        text-decoration: none;
        font-weight: 900;
        font-size:1.2rem;
        color: rgba(255, 255, 255, 0.700);
        
    }
   
svg{
    fill: white;
    margin: auto;
    text-align: center;
}
.blog-title{
    margin-left: 7rem;
    padding-top: 0.5rem;
}
.blog-title>h2{
        font-weight: 1000;
color:white;
}

/*media queries*/
@media screen and (max-width: 480px) {
.sidenav{
    display: none;
}
.container{
    display: block;
}
.blog-post{
    display: block;
    margin-left: 1rem;
    margin-right: 1.2rem;
}
.post-image{
    display: none;
}
.page-intro{
    height: 20rem;
}

.post{
    width: 100%;
    margin-left: 0;
}
.search>button{
    width: 20rem;
margin-top: 0.7rem;
margin-left: 0;

}

  }
  @media screen and (min-width: 480px) {
.menu{
    display: none;
}
  }