.about-content{
    margin:3rem 8rem 2rem 8rem ;
}
.about-content > section > h3 {
    margin-bottom: 0.6rem;

}
.about{
    margin-bottom: 3rem;
}
.about> div >img{
    margin-top: 1rem;

}
.about> div >p{
    margin-top: 0.8rem;

}

/*media queries*/
@media screen and (max-width: 800px) {
    .about-content{
        margin:3rem 1rem 2rem 1rem ;
    }
}